.mainpage_container {
  height: 89vh;
  background-color: #eff2f5;
}
.imagelayout_container {
  display: flex;
  margin: 15px;
}
.imagelayout_imglay {
}
.imagelayout_img {
  max-height: 35px;
  max-width: 35px;
}
.imagelayout_text {
  font-weight: 500;
  margin: 10px;
  font-size: 14px;
}
.middleContainer {
  margin-left: 50px;
  overflow-y: scroll;
  height: 88vh;
  padding: 10px 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.middleContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.middleContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.middleContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.middleContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
