.post_container {
  width: 600px;
  margin-top: 20px;
  border-radius: 20px !important;
  padding: 20px;
}
.post_header {
  display: flex;
  height: 50px;
}
.post_header_image {
}
.post_img {
  margin: 15px;
}
.post_header_text {
  font-weight: 500;
  margin-top: 20px;
  font-size: 16px;
}
.post_description {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
}
.post_image {
  margin: 10px 0px;
}
.post_likecountContainer {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #cdddd4;
}
.post_img {
  height: 20px;
}
.post_likecount {
  margin-top: 14px;
  margin-left: -10px;
}
.post_likeshare {
  display: flex;
  height: 35px;
  margin-left: 100px;
  margin-top: 7px;
}
.post_tab {
  display: flex;
  width: 200px;
}
.post_tabfirst {
}
.post_tabing {
  width: 30px;
}
.post_tabtext {
  margin: 5px;
}
.upload_comment {
  border-top: 1px solid #cdddd4;
}

.post_content {
  font-size: 16px;
  color: #333;
}

.mealplan_description {
  width: 100%;
  max-width: 500px;
  height: 100px;
  background-color: white;
  font-size: 16px;
  color: #06045a;
}
